@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

*html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    /* background-image: url('../public/cgi-background.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow {
}